<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='thank.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
    <title>Error</title>
    <script>
        // Add event listener to the button
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('.go-home').addEventListener('click', function() {
                // Redirect to the index1.html page
                window.location.href = "{{ url_for('user') }}";
            });
        });
    </script>
</head>
<body>
    <div class="content">
        <div class="wrapper-1">
            <div class="wrapper-2">
                <h1>User Already Exists!</h1>
                <p>"Try again with new username and email id "</p>
                <p>Save more lives together 🩸</p>
              
                    <!-- Add your form fields here if needed -->
                    <button class="go-home"> register</button>
                           </div>

        </div>
    </div>
    
</body>
</html>
